# Токен вашего Discord бота из Discord Developer Portal -> Bot -> Token
DISCORD_TOKEN=

# Client ID (Application ID) приложения из Discord Developer Portal -> General Information
CLIENT_ID=1554480229114839082

# Guild ID (ID сервера Discord, где регистрируются команды для мгновенного обновления)
GUILD_ID=1258047494903037995
